<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page not found (404)</title>
    <link rel="stylesheet" href="/css/estilos.css">
</head>

<body>
  <header>
    <nav class="navbar">
      <div class="logo">Mi Sitio</div>
      <ul class="nav-links">
        <li><a href="/">Inicio</a></li>
        <li><a href="/users">Usuarios</a></li>
        <li><a href="/admin/add-user">Agregar Usuario</a></li>
      </ul>
    </nav>
  </header>

  <main class="container">
    <h1>Error 404</h1>
    <p>Lo sentimos, pero no se pudo encontrar la página que estás buscando.</p>
    <a href="/" class="boton">Volver al inicio</a>
  </main>
</body>
</html>
